@import "tailwindcss";

@theme {
  --color-background: #ffffff;
  --color-paper: #f8fafc;
  --color-card: #f8fafc;
  --color-ink: #0f172a;
  --color-muted: #94a3b8;
  --color-primary: #2563eb;
  --color-primary-hover: #1d4ed8;
  --color-border: #e2e8f0;
  --color-accent: #fbbf24;
  --color-accent-2: #38bdf8;
  --color-danger: #ef4444;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-ink);
  }
}

.fc .fc-event {
  border-radius: 8px !important;
  border: none !important;
  padding: 2px !important;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1) !important;
}
